*{
  margin: 0;
  padding: 0;
}
.body{
  background-color: #c7bdbe;
  width: 100vw;
  height: 100vh;
}
.title{
  margin-left: 37%;
  padding-top: 2%;
  font-weight: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.data{
  display: flex;
  flex-direction: column;
}
.inputMiles{
  margin-left: 20%;
  margin-top: 10%;
  width: 17vw;
}
.inputDate{
  /* margin-top: .75%; */
  margin-left: 20%;
  width: 17vw;
}
.enter{
  margin-top: .5%;
  margin-left: 43%;
}
.new-mileage{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* margin-top: 5vh; */
  margin-right: 5%;
  /* align-items: flex-end; */
}
.oilchange{
  margin-left: 75%;
}
.oil-input{
  width: 15vw;
  margin-top: 1%;
  margin-left: 75%;
}
.button-oilchange{
  width: 15vw;
  margin-left: 75%;
  margin-top: 1%;
}
.data{
  margin-left: 20%;
}
.inputs{
  margin-top: 2%;
}
.delete{
  margin-top: 2%;
}
.buttons{
  display: flex;
  flex-direction: column;
}
.delete-button{
  width: 15.2vw;
}
.update-button{
  width: 15.2vw;
  margin-top: 2%;
}